@import "_fonts.scss";

@import "_vars.scss";

@import "~bootstrap/scss/bootstrap";

/* components stylesheets */

@import "../components/Ansatte/Ansatt.scss";

@import "../components/Kontaktpunkt/Kontaktpunkt.scss";

@import "../components/Navigation/Navigation.scss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    color: map-get($theme-colors, "dark");
}

.btn,
.card {
    border-radius: 0;
}